<app-nav></app-nav>
<div class="container">
    <div class="row header">
        <div class="col-12">
            <h3>Suchen Sie einen Patienten nach seiner Email</h3>
        </div>
        <div class="col-12 inputField">
            <p-autoComplete [(ngModel)]="selectedPatient" [minLength]="2" [suggestions]="patientenListLight" (onSelect)="loadFilteredMedicalFindings()" (completeMethod)="filterPatients($event)" field="patient_profile.patient_id" placeholder="Suche einen Patienten" [showClear]="true" [dropdown]="true">
                <ng-template let-patient pTemplate="item">
                    <div>{{patient.patient_profile.patient_id}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Doktor (Doktor ID)</th>
                <th scope="col">Patient (Patient ID)</th>
                <th scope="col">Krankheit</th>
                <th scope="col">Kommentar</th>
                <th scope="col">Letztes Update am</th>
                <th scioe="col">Datei</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finding of medicalFindingsLight; let i = index">
                    <th scope="row">{{i}}</th>
                    <td *ngIf="finding.treator !==null">{{finding.treator.first_name}} {{finding.treator.last_name}} ({{finding.treator.doctor_profile.doctor_id}})</td>
                    <td *ngIf="finding.treator ===null">-</td>
                    <td>{{finding.patient.first_name}} {{finding.patient.last_name}} ({{finding.patient.patient_profile.patient_id}})</td>
                    <td>{{finding.disease}}</td>
                    <td>{{finding.comment}}</td>
                    <td>{{finding.updated_at}}</td>
                    <td *ngIf="finding.file !==null">{{finding.file.file_name}}</td>
                    <td *ngIf="finding.file ===null">-</td>
                    <td>    
                        <button *ngIf="finding.file !==null" type="button" class="btn btn-primary" (click)="downloadPdf(finding)">
                            Download File
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>