<div class="activationCard">
    <p-card header="Activate your Account" subheader="Please click on the activate button to activate your account!" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://www.thieme.de/statics/bilder/thieme/final/de/bilder/tw_heilpraxis/patientenakte_rdax_440x277.jpg">
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Activate" icon="pi pi-check" (click)="activateAccount()"></p-button>
        </ng-template>
    </p-card>
</div>