<p-toast position="top-center"></p-toast>
<div class="container">
    <div class="row header">
        <div class="col-12">
            <h3>Suchen Sie Ihren Patienten nach seiner Email</h3>
        </div>
        <div class="col-12 inputField">
            <p-autoComplete [(ngModel)]="selectedPatient" [minLength]="2" [suggestions]="patientenListLight" (onClear)="loadMedicalFindings()" (onSelect)="loadFilteredMedicalFindings()" (completeMethod)="filterPatients($event)" field="patient_profile.patient_id" placeholder="Suche einen Patienten" [showClear]="true" [dropdown]="true">
                <ng-template let-patient pTemplate="item">
                    <div>{{patient.patient_profile.patient_id}}</div>
                </ng-template>
            </p-autoComplete>
        </div>
        <table class="table table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Patient (Patient ID)</th>
                <th scope="col">Krankheit</th>
                <th scope="col">Kommentar</th>
                <th scope="col">Letztes Update am</th>
                <th scope="col">Datei</th>
                <th scope="col"style="text-align: center">Optionen</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let finding of medicalFindingsLight; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>{{finding.patient.first_name}} {{finding.patient.last_name}} ({{finding.patient.patient_profile.patient_id}})</td>
                    <td>{{finding.disease}}</td>
                    <td>{{finding.comment}}</td>
                    <td>{{finding.updated_at}}</td>
                    <td *ngIf="finding.file !==null">{{finding.file.file_name}}</td>
                    <td *ngIf="finding.file ===null">-</td>
                    <td style="text-align: right">      
                        <button *ngIf="finding.file !== null" type="button" class="btn btn-primary optionBtn" (click)="downloadPdf(finding)">
                            Download File
                        </button>
                        <button type="button" class="btn btn-primary optionBtn" (click)="displayChangeEntryModel(finding)">
                            Change
                        </button>
                        <button type="button" class="btn btn-primary optionBtn" (click)="deleteDoctorFromList(finding)">
                            DROP
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p-dialog header="Bitte nehmen Sie ihre Änderungen vor" [(visible)]="medicalFindingModel" [modal]="true"
        [draggable]="false" [resizable]="false" (onHide)="resetMedicalFindingValues()">
        <ng-container ngIf*="requestLoading; then requestWorking; else requestNotWorking"></ng-container>
        <ng-template #requestWorking>
            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </ng-template>
        <ng-template #requestNotWorking>
            <div class="row">
                <div class="new-entry-item col-3">
                    <div class="col-12">
                        <b>Krankheit</b>
                    </div>
                    <div class="col-12">
                        <input type="text" pInputText [(ngModel)]="new_disease">
                    </div>
                </div>
                <div class="new-entry-item col-3">
                    <div class="col-12">
                        <b>Kommentar</b>
                    </div>
                    <div class="col-12">
                        <textarea pInputTextarea [(ngModel)]="new_comment"></textarea>
                    </div>
                </div>
                <div class="new-entry-item col-12">
                    <div class="col-12">
                        <b>Datei hochladen:</b>
                    </div>
                    <div class="col-12">
                        <input type="file" class="file-upload" [(ngModel)]="new_file" [accept]="acceptedFileTypes" (change)="onFileSelected($event)">
                    </div>
                </div>
                <div class="new-entry-item col-12">
                    <div class="col-12">
                        <b>Welche Personen sollen den Befund einsehen können?</b>
                    </div>
                    <div class="col-12">
                        <p-chips #chips [(ngModel)]="selectedUsers" (onAdd)="addReadAccess($event.value)" (onRemove)="deleteReadAccess($event.value)"></p-chips>
                    </div>
                </div>
            </div>
            <ng-template pTemplate="footer">
            <p-button icon="pi pi-pencil" (click)="changeMedicalFinding()" label="Ändern" styleClass="p-button-text"></p-button>
            </ng-template>
        </ng-template>
    </p-dialog>
</div>

