<app-nav></app-nav>
<div *ngIf="this.user !== undefined">
    <div *ngIf="this.validateIfDoctor()">
        <app-my-patient-finder></app-my-patient-finder>
    </div>
    <div *ngIf="!this.validateIfDoctor()">
        <p-toast position="top-center"></p-toast>
        <div class="container">
            <div class="addEntryBtn">
                <button pButton label="Add New Entry" icon="pi pi-plus" iconPos="right" (click)="displayAddEntryModel()"></button>
            </div>
            <div class="row">
                <table class="table table-dark">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Doktor</th>
                        <th scope="col">Krankheit</th>
                        <th scope="col">Medizin</th>
                        <th scope="col">Letztes Update am</th>
                        <th scope="col"style="text-align: center">Optionen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let finding of medicalFindingList; let i = index">
                            <th scope="row">{{i}}</th>
                            <td *ngIf="finding.treator !==null">{{finding.treator.first_name}} {{finding.treator.last_name}} ({{finding.treator.doctor_profile.doctor_id}})</td>
                            <td *ngIf="finding.treator ===null">-</td>
                            <td>{{finding.disease}}</td>
                            <td>{{finding.medicine}}</td>
                            <td>{{finding.updated_at}}</td>
                            <td style="text-align: right">    
                                <button type="button" class="btn btn-primary optionBtn" (click)="createPdf(finding)">
                                    PDF
                                </button>
                                <button type="button" class="btn btn-primary optionBtn" (click)="displayChangeEntryModel(finding)">
                                    Change
                                </button>
                                <button type="button" class="btn btn-primary optionBtn" (click)="deleteMedicalFinding(finding.uid)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <p-dialog [header]="getModifyEntryModelHeader()" [(visible)]="medicalFindingModel" [modal]="true"
            [draggable]="false" [resizable]="false" (onHide)="resetMedicalFindingValues()">
                <div class="row">
                    <div class="new-entry-item col-3">
                        <div class="col-12">
                            <b>Krankheit</b>
                        </div>
                        <div class="col-12">
                            <input type="text" pInputText [(ngModel)]="new_disease">
                        </div>
                    </div>
                    <div class="new-entry-item col-3">
                        <div class="col-12">
                            <b>Medizin</b>
                        </div>
                        <div class="col-12">
                            <input type="text" pInputText [(ngModel)]="new_medicine"> 
                        </div>
                    </div>
                    <div class="new-entry-item col-3">
                        <div class="col-12">
                            <b>Doktor</b>
                        </div>
                        <div class="col-12">
                            <form #form="ngForm">
                                <input id="selectedDoctorID" type="text" name="selectedDoctorID" [(ngModel)]="selectedDoctorID" pInputText [pKeyFilter]="this.profileIdRegex" [pValidateOnly]="true" placeholder="AB#1234" style="margin-right: .5em">
                                <p-message severity="error" text="Not a valid Profile ID" [@errorState]="form.dirty && !form.valid ? 'visible' : 'hidden'"></p-message>
                            </form> 
                        </div>
                    </div>
                    <div class="new-entry-item col-12">
                        <div class="col-12">
                            <b>Welche Personen sollen den Befund einsehen können?</b>
                        </div>
                        <div class="col-12">
                            <p-chips #chips [(ngModel)]="selectedUsers" (onAdd)="addReadAccess($event.value)" (onRemove)="deleteReadAccess($event.value)"></p-chips>
                        </div>
                    </div>
                </div>
                <ng-template pTemplate="footer">
                <p-button *ngIf="!this.modify_mode" icon="pi pi-check" (click)="createNewMedicalFinding()" label="Hinzufügen" styleClass="p-button-text"></p-button>
                <p-button *ngIf="this.modify_mode" icon="pi pi-pencil" (click)="changeMedicalFinding()" label="Ändern" styleClass="p-button-text"></p-button>
                </ng-template>
        </p-dialog>
    </div>  
</div>