<p-toast position="top-center"></p-toast>
<body>
  <app-nav></app-nav>
  <div class="container">
    <p-card class="header-card">
      <div class="row">
        <div class="col-12">
          <h1 class="headline">Profil</h1>
        </div>
        <div class="col-6">
          <div class="row">
            <div *ngIf="this.user!==undefined" class="col-6 card-item">
              <strong>Vorname</strong><p>{{this.user!.first_name}}</p>
            </div>  
            <div *ngIf="this.user!==undefined" class="col-6 card-item">
              <strong>Nachname</strong><p>{{this.user!.last_name}}</p>
            </div> 
            <div class="col-12 card-item">
              <strong>Geburststag</strong>
              <div>
                <p-calendar [(ngModel)]="birth_date" [style]="{'width': '180px'}" [disabled]="true" [showIcon]="true" dateFormat="yy-mm-dd" inputId="icon"></p-calendar>
              </div>
            </div> 
            <div *ngIf="this.user!==undefined" class="col-12 card-item">
              <strong *ngIf="this.user!.role === 'PATIENT'">Patienten ID</strong><p>{{this.user!.patient_id}}</p>
              <strong *ngIf="this.user!.role === 'DOCTOR'">Doktor ID</strong><p>{{this.user!.doctor_id}}</p>
            </div> 
            <div *ngIf="this.user !== undefined" class="col-12 card-item">
              <strong>E-Mail</strong><p>{{this.user!.email}}</p>
            </div> 
          </div>
        </div>
        <div class="col-6 right-card">
          <div>
            <button pButton pRipple type="button" label="Passwort Zurücksetzen" (click)="opPasswordReset.toggle($event)" class="p-button-secondary setting-btn"></button>
          </div>
          <div>
            <button pButton pRipple id="deleteAccountBtnId" type="button" label="Account Löschen" (click)="deleteAccount()" class="p-button-danger setting-btn delete"></button>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</body>


<p-overlayPanel #opPasswordReset class="row">
  <div class="password-reset-box">
    <div class="col-12">
      <strong class="items">Old Password</strong>
    </div>
    <div class="col-12">
      <p-password [(ngModel)]="old_password" [feedback]="false"></p-password>
    </div>
  </div>
  <div class="password-reset-box">
    <div class="col-12">
      <strong class="items">New Password</strong>
    </div>
    <div class="col-12">
      <p-password [(ngModel)]="new_password1" [showClear]="true" strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*?[^\w\s])(?=.{8,})">
        <ng-template pTemplate="header">
            <h6>Erstelle ein Passwort</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Anforderungen</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>Mindestens ein Kleinbuchstabe</li>
                <li>Mindestens ein Großbuchstabe</li>
                <li>Mindestens eine Zahl</li>
                <li>Mindestens ein Sonderzeichen</li>
                <li>Mindestens 8 Zeichen</li>
            </ul>
        </ng-template>
      </p-password>
    </div>
  </div>
  <div class="password-reset-box">
    <div class="col-12"> 
      <strong>Passwort wiederholen:</strong>
    </div>
    <div class="col-12">
      <p-password [(ngModel)]="new_password2" [showClear]="true" strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*?[^\w\s])(?=.{8,})">
        <ng-template pTemplate="header">
            <h6>Erstelle ein Passwort</h6>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2">Anforderungen</p>
            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
              <li>Mindestens ein Kleinbuchstabe</li>
              <li>Mindestens ein Großbuchstabe</li>
              <li>Mindestens eine Zahl</li>
              <li>Mindestens ein Sonderzeichen</li>
              <li>Mindestens 8 Zeichen</li>
            </ul>
        </ng-template>
      </p-password>
    </div>
  </div>
  <div class="col-12 submit-password-reset-btn">
    <p-button icon="pi pi-check" id="resetPasswordBtn" (click)="resetPassword()" label="Bestätigen" styleClass="p-button-text"></p-button>
  </div>
</p-overlayPanel>

<p-confirmDialog header="Account Löschen" icon="pi pi-exclamation-triangle" acceptIcon="pi pi-times" [rejectVisible]="false"  acceptLabel="Löschen"></p-confirmDialog>