<div class="passwordResetCard">
    <p-card header="Password Reset" subheader="Please enter your new password!" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://www.thieme.de/statics/bilder/thieme/final/de/bilder/tw_heilpraxis/patientenakte_rdax_440x277.jpg">
        </ng-template>
        <div class="container row">
            <div class="password-reset-box">
              <div class="col-12">
                <b class="items">New Password</b>
              </div>
              <div class="col-12">
                <p-password [(ngModel)]="new_password1" [ngModelOptions]="{standalone: true}" [showClear]="true" strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*?[^\w\s])(?=.{8,})">
                  <ng-template pTemplate="header">
                      <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                      <p-divider></p-divider>
                      <p class="mt-2">Anforderungen</p>
                      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                          <li>At least one lowercase</li>
                          <li>At least one uppercase</li>
                          <li>At least one numeric</li>
                          <li>At least one special character</li>
                          <li>Minimum 8 characters</li>
                      </ul>
                  </ng-template>
                </p-password>
              </div>
            </div>
            <div class="password-reset-box">
              <div class="col-12"> 
                <b>Repeat New Password</b>
              </div>
              <div class="col-12">
                <p-password [(ngModel)]="new_password2" [ngModelOptions]="{standalone: true}" [showClear]="true" strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*?[^\w\s])(?=.{8,})">
                  <ng-template pTemplate="header">
                      <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                      <p-divider></p-divider>
                      <p class="mt-2">Anforderungen</p>
                      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                          <li>At least one lowercase</li>
                          <li>At least one uppercase</li>
                          <li>At least one numeric</li>
                          <li>At least one special character</li>
                          <li>Minimum 8 characters</li>
                      </ul>
                  </ng-template>
                </p-password>
              </div>
            </div>
          </div>
        <ng-template pTemplate="footer">
            <p-button label="Reset" icon="pi pi-check" (click)="resetPassword()"></p-button>
        </ng-template>
    </p-card>
</div>